<input type="hidden" name="MERCHANT" value="payu" />
<input type="hidden" name="ORDER_REF" value="new-invoice" />
<input type="hidden" name="ORDER_DATE" value="2013-12-21 10:00:00" />
<input type="hidden" name="ORDER_PNAME[]" value="Продукт #1" />
<input type="hidden" name="ORDER_PCODE[]" value="123" />
<input type="hidden" name="ORDER_PRICE[]" value="120.35" />
<input type="hidden" name="ORDER_QTY[]" value="1" />
<input type="hidden" name="ORDER_VAT[]" value="0" />
<input type="hidden" name="ORDER_SHIPPING" value="0" />
<input type="hidden" name="PRICES_CURRENCY" value="UAH" />
<input type="hidden" name="ORDER_PRICE_TYPE[]" value="GROSS" />
<input type="hidden" name="TESTORDER" value="TRUE" />
<input type="hidden" name="DEBUG" value="1" />
<input type="hidden" name="BACK_REF" value="http://example.com/">
<input type="hidden" name="ORDER_TIMEOUT" value="900">
<input type="hidden" name="TIMEOUT_URL" value="http://example.com/">
<input type="hidden" name="ORDER_HASH" value="f9ae33393ef2a05b70a487720958ddeb" />
