<input id="id_provider" name="provider" type="hidden" value="deposits.example.com" />
<input id="id_invoice_id" name="invoice_id" type="hidden" value="new-invoice" />
<input id="id_payment_amount" name="payment_amount" type="hidden" value="5420.0" />
<input id="id_payment_currency" name="payment_currency" type="hidden" value="UAH" />
<input id="id_description" name="description" type="hidden" value="Product #1, Product #2" />
<input id="id_creation_datetime" name="creation_datetime" type="hidden" value="2013-12-21 10:00:00" />
<input id="id_expiration_datetime" name="expiration_datetime" type="hidden" value="2013-12-21 12:00:00" />
<input id="id_deposit_account" name="deposit_account" type="hidden" value="deposits@example.com" />
<input id="id_return_url" name="return_url" type="hidden" value="http://example.com/" />
<input id="id_notification_url" name="notification_url" type="hidden" value="http://example.com/notification/" />
<input id="id_signature" name="signature" type="hidden" value="a2c75a2a8aaf074cf8fe4187c5e68cbc" />
